:root {
    /*color for: horizontal block, title, header, footer*/
    --mainColor: #669885;
    --textColor: #393939;
    /*color border block for text*/
    --borderColor: #8dbfac;
    /*color for: vertical left\right block and button*/
    --verticalBlockColor: #84b6a3;
    /*color for: button_active brown and block-lost*/
    --blockLostColor: #ffe18b;

    --headerHeight: 70px;
    --bodyWhiteHeight: 623px;
    --bodyGreenHeight: 260px;
    --bodyWhite2Height: 450px;
    --bodyRedHeight: 125px;
    --footerHeight: 193px;
}

.horizontal-block {
    background-color: var(--mainColor);
    color: white;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.navbar-nav {
    background-color: var(--mainColor);
    height: var(--footerHeight);
}

.btn {
    border-radius: 17px;
}

.menu a:link {
    color: white;
}

/* start block horizontal blocks */
.horizontal-block {
    background-color: var(--mainColor);
    color: white;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.header-main {
    background-color: white;
    color: var(--mainColor);
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.horizontal-block_header {
    padding: 18px 0;
    height: var(--headerHeight);
}

.horizontal-block__body-green {
    font-size: 2rem;
}

.horizontal-block__body-red {
    background-color: #FF6F61 !important;
}

.horizontal-block__body-white {
    background-color: white;
    color: var(--textColor);
}

.horizontal-block_footer {
    height: 193px;
}

.amphitheatre {
    font-size: 0.75rem;
}

/* end block horizontal blocks */

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--mainColor);
}

/* start block elements on horizontal-block__body-white */
.horizontal-block__body-white > ul {
    list-style: none;
}

.horizontal-block__body-white > ul > li::before {
    content: "\2022";
    color: var(--verticalBlockColor);
    font-weight: 700;
    display: inline-block;
    width: 1em;
}

.horizontal-block__body-white li {
    font-size: 1.125rem;
    line-height: 2;
}

/* end block elements on horizontal-block__body-white */

/* start block elements on horizontal-block__body-red */
.h-1 {
    font-size: calc(22px + 34 * (50vw / 570));
}

@media (max-width: 576px) {
    .h-1 {
        font-size: calc(22px + (34 + 17 * 0.7) * ((100vw - 320px) / 1140));
    }
}

@media (min-width: 1140px) {
    .h-1 {
        font-size: 56px;
    }
}

/*.test {
    font-size: 56px;
}*/

.h-1 span {
    color: var(--verticalBlockColor);
}

.planing {
    font-weight: 600;
}

.heart {
    position: relative;
}

.love {
    position: absolute;
    top: 43px;
    left: 53px;
}

/* end block text for horizontal-block__body-red */

nav ul {
    list-style: none;
}

.border-block-for-text {
    color: var(--borderColor);
}

.textP {
    font-size: 4.25rem;
}

.bold {
    font-weight: bold;
}

/* start block button */
.btn {
    border-radius: 17px;
}

.btn_active-brown:hover {
    background-color: var(--blockLostColor);
}

.btn_white-text-on-green-back {
    color: white;
    background-color: var(--verticalBlockColor);
}

.btn_green-text-on-white-back {
    color: var(--borderColor);
    border-color: white;
}

/* start block menu */
.menu__item {
    position: relative;
}

.menu img {
    position: absolute;
    top: 12px;
    left: -13px;
}

.menu ul, .li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu__item a {
    font-size: 1rem;
    color: white;
}

/* end block menu */

/* start block hyperlink */
.hyperlink {
    text-decoration: underline;
    color: var(--verticalBlockColor);
}

.hyperlink:hover {
    color: var(--verticalBlockColor);
    cursor: pointer;
}

.img-find {
    position: absolute;
    right: 0;
    bottom: 0;
}

.hyperlink_change-text_brown {
    background-color: var(--blockLostColor);
    border-radius: 0 50px 50px 0;
    position: relative;
}

.hyperlink_change-text_brown:hover {
    background-color: #ffdc7b;
    border-radius: 0 50px 50px 0;
    position: relative;
    cursor: pointer;
}

.hyperlink_change-text_brown:before {
    content: "I lost my pet!";
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.hyperlink_change-text_brown:hover:before {
    content: "Click to find!";
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.hyperlink_change-text_green {
    background-color: var(--verticalBlockColor);
    border-radius: 0 50px 50px 0;
    position: relative;
}

.hyperlink_change-text_green:hover {
    background-color: var(--mainColor);
    border-radius: 0 50px 50px 0;
    position: relative;
    cursor: pointer;
}

.hyperlink_change-text_green:before {
    content: "I found a pet!";
    color: white;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.hyperlink_change-text_green:hover:before {
    content: "What to do?";
    color: white;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.hyperlink_change-text_brown, .hyperlink_change-text_green {
    height: 93px;
    font-size: 2rem;
}

.hyperlink_change-text_brown a {
    color: var(--textColor);
    text-decoration: none;
}

.hyperlink_change-text_green a {
    color: white;
    text-decoration: none;
}

/* end block hyperlink */

/* start temp block*/
.temp-color {
    background-color: red;
}

.fa-facebook {
    border-radius: 50% 50% 50% 50%;
    /*font-size: fa-5x;*/
}

/* end temp block*/
@media (max-width: 1200px) {
    .heart {
        display: none;
    }
}

.green {
    background-color: var(--verticalBlockColor);
    color: white;
    border-radius: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar-left {
    color: white;
}

.navbar-left:hover {
    color: white;
    text-decoration: none;
}

.navbar-bottom {
    line-height: 1.7;
}

.navbar-bottom:hover {
    color: white;
    text-decoration: none;
}

.divPos {
    position: relative;
    height: 35px;
}

.divPos2 {
    position: relative;
    height: 70px;
}

.divPos3 {
    background-color: #669885;
    border-radius: 0 20px 20px 0;
    margin-left: -200px;
    margin-top: -50px;
    position: relative;
    right: 5%;
    height: 180px;
}

.divPos4 {
    position: relative;
    margin-left: 200px;
    height: 15px;
}

.services {
    color: #84b6a3;
}

.services:hover {
    color: #84b6a3;
}

.textPos {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 30;
}

.rectangle_white {
    background-color: white;
    border-radius: 0 50px 50px 0;
    height: 100%;
    margin-left: -200px;
    position: absolute;
    top: 2%;
    left: 0;
    right: 5%;
    z-index: 10;
}

.position-profile {
    top: 42%;
    height: 60px;
}

.modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 720px;
    height: 460px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-color: white;
    box-shadow: 0 0.6em 0 -0.5em lightgrey;
}

.overlayWindow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(15px)
}

.toNetwork {
    color: white;
}

/*ModalWindow*/

.enterFB {
    font-size: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.submit-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.blockSign {
    position: relative;
    padding-right: 5px;
    width: 680px;
    height: 240px;
}

.emptyBlock {
    height: 48px;
}

.paw-modal {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text-green-modal {
    color: var(--mainColor);
    padding-top: 5px;
}

.facebook {
    background-color: #4560A6;
    color: white;
    border-radius: 20px;
    border: #4560A6 solid 2px;
}

.green-button {
    padding: 0;
    height: 34px;
    color: black;
    border: var(--mainColor) solid 1px;
}

.green-button-active {
    padding: 0;
    height: 34px;
    color: black;
    border: var(--mainColor) solid 1px;
}

.text-white-modal {
    color: white;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.input-modalWindow {
    border-color: white;
    font-size: 12px;
    width: 205px;
    box-shadow: 0 0.6em 0 -0.5em #669885;
}

.fieldName {
    font-size: 14px;
    text-align: right;
    position: relative;
    top: 12px;
}

.pass {
    font-size: 12px;
    color: gray;
}

.green-button-modal {
    padding: 0;
    background-color: var(--mainColor);
    height: 34px;
    color: white;
}

.white-button-modal {
    padding: 0;
    background-color: white;
    height: 34px;
    width: 100px;
    color: var(--mainColor);
    border-color: 1 solid var(--mainColor);
}

.green-button-modal:hover {
    background-color: var(--mainColor);
    color: white;
}

.white-button-modal:hover {
    color: var(--mainColor);
    border-color: 1 solid var(--mainColor);
    background-color: white;
}

/*End of ModalWindow*/

.button-addNew {
    background-color: var(--verticalBlockColor);
    color: white;
    padding: 0;
    height: 40px;
}

.button-addNew:hover {
    background-color: var(--verticalBlockColor);
    color: white;
}

.photo-add {
    background-color: var(--verticalBlockColor);
    color: white;
    padding: 0;
    width: 100%;
}

.img-small{
    width: 100%;
    height: calc(100%/3);
}

.button-ILost {
    background-color: #FFE18B;
    color: black;
    padding: 0;
    height: 40px;
}

.button-ILost:hover {
    background-color: #FFE18B;
    color: black;
}


/*Form*/
.form {
    padding: 0;
    margin: 0;
    height: 22px;
}

textarea {
    box-shadow: 0 0 0 0.1em lightseagreen;
}

.form-control{
    box-shadow: none;
    border: none;
}

.select-form {
    height: 220px;
    overflow: hidden;
    border-color: white;
    box-shadow: 0 0 0 0.1em lightseagreen;
    font-size: 1rem;
    color: gray;
}

.fieldset {
    padding: 30px;
    border-color: white;
    box-shadow: 0 0 0.1em 0.1em rgba(152, 150, 150, 0.5);
    width: auto;
}

/*Profile*/
.fieldset-profile {
    box-shadow: 0 0 0.1em 0.1em rgba(152, 150, 150, 0.5);
    width: auto;
    margin: 20px;
}

.text-white {
    color: white;
}

.green-button2 {
    padding: 0;
    background-color: var(--mainColor);
    height: 34px;
    color: black;
}

.green-button2:hover {
    color: black;
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}

.text-green {
    color: var(--verticalBlockColor)
}

.input-Profile {
    border-color: white;
    font-size: 12px;
    width: 405px;
    box-shadow: 0 0.6em 0 -0.5em #669885;
}

.profilePhoto {
    position: relative;
}

.cameraIcon {
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.avatar {
    height: 43px;
    width: 43px;
    border: 1px solid white;
    border-radius: 50%;
}

.photo-review{
    width: 100%;
}

.cursor {
    cursor: pointer
}

.file-inputs {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 18px;
    overflow: hidden;
}

.file-inputs2 {
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 110px;
    height: 30px;
    overflow: hidden;
}

.file {
    position: relative;
    text-align: right;
    -moz-opacity: 0;
    filter: alpha(opacity:0);
    opacity: 0;
    z-index: 15;
}

.small {
    width: 45px;
    height: 45px;
}

.little{
    font-size: 13px;
    font-weight: bold;
}

.right{
    text-align: right;
}

.list-img{
    list-style-type: none;
    color: darkgray;
}

.borderGreen{
    box-shadow: 0 0 0 0.1em lightseagreen;
}